*{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    /*background: rgba(0,0,0,0.05);*/


}
body{

}
a{
    text-decoration:none;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clearfix:after,
.clearfix:before{
    content: "";
    display: table;
    clear: both;
}

.navbar{
    background: #a10;
    color: #fff;
}

.navbar a{
    color: rgba(255,255,255,.95);
 }

.navbar-item{
    display: inline-block;
    line-height: 2;
    padding: 2px 4px;
}

.navbar-item:first-child{
    margin-left: 4px;
}

.navbar-item:last-child{
    margin-right: 4px;
}


.brand{
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
}

.container{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    height: 1000px;
}

.input-err-set{
    display: inline-block;
}

.card{
    margin: 2px;
    margin-top: 8px;
    padding: 5px;
    padding-left: 10px;
    display: block;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,.1);
}

.card input{
    width: 90%;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    outline: none;

}

label,form{
    display: block;
}
label{
    margin: 4px 0;
}

.input-err-set{
    color: #a10;
}

button{

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #fff;
}
button:hover{
    background: #eeeeee;
    cursor: pointer;
}